@font-face {
  font-family: Asap;
  src: url(../assets/fonts/asap-bold.woff2) format(woff2);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Inconsolata;
  src: url(../assets/fonts/inconsolata-regular.woff2) format(woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Maven Pro";
  src: url(../assets/fonts/maven-pro-regular.woff2) format(woff2);
  font-weight: 400;
  font-display: swap;
}

:root {
  /* main colors */
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yelper: #EABD5F;
  --dark: #29292e;

  /* base colors */
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  /* fonts */
  /* title */
  --font-family-1: Asap, sans-serif;
  /* sm */
  --title-sm-font-family: var(--font-family-1);
  --title-sm-font-size: 0.875rem;
  --title-sm-font-weight: 700;
  --title-sm-line-height: 1.2;
  /* md */
  --title-md-font-family: var(--font-family-1);
  --title-md-font-fize: 1.5;
  --title-md-font-weight: 700;
  --title-md-line-height: 1.2;
  /* lg */
  --title-lg-font-family: var(--font-family-1);
  --title-lg-font-size: 3.5rem;
  --title-lg-font-weight: 700;
  --title-lg-line-height: 1.2;

  /* subtitle */
  --subtitle-font-family: Inconsolata, sans-serif;
  --subtitle-font-size: 1.25rem;
  --subtitle-font-weight: 400;
  --subtitle-line-height: 1.2;

  /* text */
  --font-family-3: "Maven Pro", sans-serif;
  /* sm */
  --text-sm-font-family: var(--font-family-3);
  --text-sm-font-size: 0.875rem;
  --text-sm-font-weight: 400;
  --text-sm-line-height: 1.4;
  /* md */
  --text-md-font-family: var(--font-family-3);
  --text-md-font-size: 1rem;
  --text-md-font-weight: 400;
  --text-md-line-height: 1.4;
}

*::before,
*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--dark);
  font-family: var(--text-md-font-family);
  font-size: var(--text-md-font-size);
  font-weight: var(--text-md-font-weight);
  line-height: var(--text-md-line-height);
}


/* Begin of generic classes */
/* tittle */
.title--lg {
  font-family: var(--title-lg-font-family);
  font-size: var(--title-lg-font-size);
  font-weight: var(--title-lg-font-weight);
  line-height: var(--title-lg-line-height);
}
.title--md {
  color: var(--gray-600);
  font-family: var(--title-md-font-family);
  font-size: var(--title-md-font-fize);
  font-weight: var(--title-md-font-weight);
  line-height: var(--title-md-line-height);
  margin-top: 0.5rem;
}
.title--sm {
  font-family: var(--title-sm-font-family);
  font-size: var(--title-sm-font-size);
  font-weight: var(--title-sm-font-weight);
  line-height: var(--title-sm-line-height);
}

/* subtitle */
.subtitle {
  color: var(--red);
  font-family: var(--subtitle-font-family);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
}

/* text */
.text--md {
  font-family: var(--text-md-font-family);
  font-size: var(--text-md-font-size);
  font-weight: var(--text-md-font-weight);
  line-height: var(--text-md-line-height);
}
.text--sm {
  font-family: var(--text-sm-font-family);
  font-size: var(--text-sm-font-size);
  font-weight: var(--text-sm-font-weight);
  line-height: var(--text-sm-line-height);
}

/* text color */
.text--red { color: var(--red); }
.text--gray-400 { color: var(--gray-400); }
.text--gray-500 { color: var(--gray-500); }
.text--gray-600 { color: var(--gray-600); }

/* text alignment */
.text--center { text-align: center; }

/* bg color */
.bg--gray-300 {
  background: var(--gray-300);
}
.bg--gray-200 {
  background: var(--gray-200);
}
.bg--gray-100 {
  background: var(--gray-100);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 85.375rem;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  width: 86%;
}

.header {
  text-align: center;
}

.d--block { display: block; }
.d--inline-block { display: inline-block; }
.d--flex { display: flex; }
.d--grid { display: grid; }

.mt--8 { margin-top: 0.5rem; }
.mt--20 { margin-top: 1.25rem; }
.mt--56 { margin-top: 3.5rem; }
.mt--72 { margin-top: 4.5rem; }
.mt--80 { margin-top: 5rem; }
.mt--94 { margin-top: 5.875rem; }
.mt--120 { margin-top: 7.5rem; }

.mx--auto { 
  margin-left:  auto;
  margin-right: auto;
}

.pt--120 { padding-top: 7.5rem; }
.pt--72 { padding-top: 4.5rem; }
/* End of generic classes */


/* Begin of intro section */
.intro {
  background: url(../assets/images/background_intro.png) no-repeat left top;
  background-size: cover;
  min-height: 100vh;
}
.intro .text {
  max-width: 42.5rem;
}
.intro .tag__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.intro .tag__item {
  align-content: center;
  background: var(--gray-300);
  border-radius: 62.4375rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}
.intro .scroll-down-btn { 
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
  transition: outline 0.25s ease-in-out;
}
.intro .scroll-down-btn:hover,
.intro .scroll-down-btn:focus-visible {
  outline: 2px solid var(--gray-400);
}
/* End of intro section */


/* Begin of projects section */
.projects {
  background: var(--gray-200);
  min-height: 100vh;
  padding: 4.5rem 0 9rem 0;
}
.projects .collection {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
}
.projects .collection__item {
  background: var(--gray-300);
  border-radius: 0.75rem;
  padding: 0.75rem;
  transition: outline 0.25s ease-in-out;
}
.collection__item:hover,
.collection__item:focus-visible {
  outline: 2px solid var(--gray-400);
}
.projects .collection__thumb {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 9.75rem;
  object-fit: cover;
}
.projects .collection__text {
  padding: 0.25rem;
  margin-top: 1.25rem;
}
.projects .collection__name {
  color: var(--gray-600);
  font-family: var(--title-sm-font-family);
  font-size: var(--title-sm-font-size);
  line-height: var(--title-sm-line-height);
}
.projects .collection__description {
  color: var(--gray-500);
  font-family: var(--text-sm-font-family);
  font-size: var(--text-sm-font-size);
  line-height: var(--text-sm-line-height);
  margin-top: 0.5rem;
}
/* End of projects section */


/* Begin of services section */
.services {
  background: var(--gray-100);
  padding: 5.5rem 0 7.5rem 0;
}
.services .card-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}
.services .card {
  background: var(--gray-200);
  border: 2px solid var(--gray-300);
  border-radius: 0.75rem;
  padding: 1.25rem;
}
.services .card__title {
  color: var(--gray-600);
  font-family: var(--title-sm-font-family);
  font-size: var(--title-sm-font-size);
  font-weight: var(--title-sm-font-weight);
  line-height: var(--title-sm-line-height);
  margin: 1.25rem 0 0.5rem 0;
}
.services .card__description {
  color: var(--gray-500);
  font-family: var(--text-sm-font-family);
  font-size: var(--text-sm-font-size);
  font-weight: var(--text-sm-font-weight);
  line-height: var(--text-sm-line-height);
}
/* End of services section */


/* Begin of contact section */
.contact {
  background: url(../assets/images/background_contacts.svg) no-repeat left top;
  background-size: cover;
  color: var(--gray-500);
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 12.5rem;
}
.contact .subtitle {
  color: var(--purple);
}
.contact__list {
  max-width: 25rem;
  margin: 3rem auto 0 auto;
}
.contact__item + .contact__item {
  margin-top: 1rem;
}
.contact__link {
  align-items: center;
  background: var(--gray-300);
  border-radius: 0.5rem;
  color: inherit;
  display: flex;
  gap: 0.75rem;
  padding: 1.25rem;
  transition: outline 0.25s ease-in-out;
}
.contact__link:hover,
.contact__link:focus-visible {
  outline: 2px solid var(--blue);
}
.contact__link::after {
  content: url(../assets/images/arrow-up-right.svg);
  display: inline-block;
  margin-left: auto;
}
/* End of contact section */


/* Begin of animations */
@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .fade--in {
      animation: fade--in 1.6s ease-in-out forwards;
      opacity: 0;
      transform: scale(0.75) translateY(5rem);
    }
    .fade--up {
      animation: fade--up 0.2s ease-in forwards;
      animation-timeline: view();
      animation-range: entry;
      opacity: 0;
      transform: scale(0.75) translateY(5rem);
    }
    .fade--right {
      animation: fade--right 0.2s ease-in-out forwards;
      opacity: 0;
      transform: scale(0.75) translateX(-5rem);
    }
    .fade--1 { animation-delay: 0.2s; }
    .fade--2 { animation-delay: 0.4s; }
    .fade--3 { animation-delay: 0.6s; }
    .fade--4 { animation-delay: 0.8s; }
    .fade--5 { animation-delay: 1.0s; }
    .fade--6 { animation-delay: 1.2s; }

    @keyframes fade--in {
      to {
        opacity: 1;
        transform: scale(1) translateY(0);
      }
    }
    @keyframes fade--up {
      to {
        opacity: 1;
        transform: scale(1) translateY(0);
      }
    }
    @keyframes fade--right {
      to {
        opacity: 1;
        transform: scale(1) translateX(0);
      }
    }
  }
}
/* End of animations */